<h1>3. External Interface Requirements</h1>
<h2>3.1 User Interfaces </h2>
<p>The website will have a straightforward and a clean look which easy to navigate. At first sight, a user will feel everything in the website is well organized and easy to explore. There will be two separate User Interfaces. One for the teacher while other for the student.</p>
<p>There will be graphical user interface (GUI) which will allow the users to provide feedback. The teachers can post grades here on real time and system will make a statistical standing and keep it updated. Errors will be displayed if user give wrong inputs.  There will also be a help button which when the user presses will show information to the user about the page content and this button will appear on every page. </p>
<p>Front end Software: HTML, CSS and WordPress</p>
<p>Back end Software: PHP, Laravel Framework & MySQL</p>
<h2>3.2 Hardware Interfaces</h2>
<p>Any Device that is able to run a web browser which has the ability to process above mentioned Front end software and also the device has to meet the requirements of the browser to run without lagging. </p>
<h2>3.3	Software Interfaces</h2>
<p>Mentioned below are the software required for the website:</p>
<table style="width:100%; text-align: left;">
  <tr>
    <th>Software used</th>
    <th>Version</th> 
    <th>Description</th>
  </tr>
  <tr>
    <td>Operating System</td>
    <td>   Any</td> 
    <td>This is a website, a browser based system, so any OS that can run a browser will be able to run it.</td>
  </tr>
  <tr>
    <td>Database</td>
    <td>PHP MyAdmin</td> 
    <td>To save records including classes, student’s results, attendance, etc. </td>
  </tr>
</table>
<h2>3.4	Communications Interfaces</h2>
<p>A user friendly and simple interface, this project will support majority of web browsers including the popular ones, Google Chrome, Mozilla Firefox and Safari.</p>